extends layout

block content
  div.center-text
    h2 Acerca del Proyecto
    p Proyecto creado por Jordan Javier Porras Gómez como parte de una práctica académica.

    h2 Tecnologías Utilizadas
    ul
      li Node.js – Entorno de ejecución de JavaScript.
      li Express.js – Framework minimalista para aplicaciones web.
      li Pug – Motor de plantillas para generar HTML.
      li CSS3 – Lenguaje de estilo para documentos HTML.
      li Nodemon – Herramienta que reinicia el servidor automáticamente durante el desarrollo.

    h2 Licencia
    p Este proyecto es de uso académico y no comercial.
    p Las imágenes ficticias utilizadas pertenecen a sus respectivos autores o fueron generadas para fines educativos.
