doctype html
html
  head
    title MuseArte
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 MuseArte - Museo Virtual
      nav
        a(href='/inicio') Inicio
        a(href='/galeria') Galería
        a(href='/acerca') Acerca de
    main
      block content
    footer
      p © 2025 MuseArte
